/* src/styles/NotFound.css */

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f4;
}

.not-found h1 {
    font-size: 5rem;
    color: #ff4c4c;
}

.not-found p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #555;
}

.back-to-home {
    font-size: 1.2rem;
    text-decoration: none;
    color: #007bff;
}

.back-to-home:hover {
    text-decoration: underline;
}